.booking-car-slot-form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  width: 32%;
  margin-left: 20px;
}

.booking-car-slot-form-heading {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 25px;
}

@media screen and (min-width: 1200px) {
  .booking-car-slot-form-heading {
    margin-bottom: 30px;
  }
}

.book-a-slot-input-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .book-a-slot-input-field-container {
    margin-bottom: 30px;
  }
}

.book-a-slot-input-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.book-a-slot-input {
  color: #ffffff;
  height: 48px;
  border: 1px solid #94a3b8;
  border-radius: 8px;
  background-color: transparent;
  padding: 8px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .book-a-slot-input {
    height: 58px;
  }
}

.booking-car-slot-form-button {
  color: #ffffff;
  width: 100%;
  background: #3b82f6;
  font-family: 'Roboto';
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px;
}

@media screen and (min-width: 1200px) {
  .booking-car-slot-form-button {
    margin-top: 16px;
  }
}

.error-message {
  color: #ff0000;
  font-size: 14px;
}
