.generate-slots-view-container {
  display: flex;
  color: #ffffff;
  background-image: linear-gradient(to right, #10111e, #1c1d37);
  min-height: 100vh;
  max-height: 100vh;
}

@media screen and (min-width: 1200px) {
  .generate-slots-view-container {
    max-height: 100vh;
  }
}

.generate-slots-img {
  width: 50%;
}

@media screen and (min-width: 1200px) {
  .generate-slots-img {
    width: 54%;
  }
}

.generate-slots-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #292942;
  width: 100%;
  border-radius: 16px;
  padding: 32px;
  margin: 32px;
}

@media screen and (min-width: 1200px) {
  .generate-slots-form {
    border-radius: 32px;
    padding: 48px;
    margin: 64px;
  }
}

.generate-slots-form-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Roboto';
  margin-top: 0px;
  margin-bottom: 45px;
}

@media screen and (min-width: 1200px) {
  .generate-slots-form-heading {
    margin-bottom: 55px;
  }
}

.input-field-container {
  display: flex;
  font-family: 'Roboto';
  flex-direction: column;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .input-field-container {
    margin-bottom: 20px;
  }
}

.input-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.input {
  color: #ffffff;
  height: 48px;
  border: 1px solid #94a3b8;
  border-radius: 8px;
  background-color: transparent;
  padding: 8px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .input {
    height: 58px;
  }
}

.generate-slots-form-button {
  color: #ffffff;
  background: #3b82f6;
  font-family: 'Roboto';
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .generate-slots-form-button {
    margin-top: 18px;
  }
}

.error-message {
  color: #ff0000;
  font-size: 14px;
}
