.booking-car-slot-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-image: linear-gradient(to right, #10111e, #1c1d37);
  font-family: 'Roboto';
  min-height: 100vh;
  padding: 32px;
}

@media screen and (min-width: 1200px) {
  .booking-car-slot-view-container {
    padding: 64px;
  }
}

.booking-car-slot-view-heading {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 64px;
}

.slots-list-heading {
  text-align: left;
  font-size: 28px;
  font-weight: 500;
  width: 100%;
}

.booking-car-slot-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
